*{
    margin:0;
    padding:0;
}
body{background-color:black;color:white; width:100%}
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/header-image.png) ;
}
#logo{
    margin-left: 10%;
}
#logo img{
    width:9.5rem;
    height: 2.5rem;
    margin-left: 10%;
}
nav{
    display:flex;
}
#preferences{
    margin-left:75%;
    padding:5px;
}
.header-content{
    color:white;
    width:40%;
    margin-left:30%;
    margin-top: 15%;
    margin-right:30%;

}
.header-content h1, .header-content h3, .header-content p{
    padding-bottom: 15px;
}
.header-content h1{
    font-size: 2.5rem;
    
}
.header-content h3{
    font-size: 1.5rem;
    text-align: center;
}
.header-content p{
    font-size: 1.2rem;
    
}
.header-content input{
    line-height: 1.5rem;
    width:50%;
    background: transparent;
    border:none;
}
.feature{
    display:flex;
    width:100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:10%;
    padding-bottom:10px;
    border-top: lightgray solid 1px;
}
button, a{
    font-size: 1rem;
    color:white;
background-color:darkred;
height: 50px;
width:100px;
}
 h2{
    font-size: 1.5rem;
}
#f1-content, #f2-content, #f3-content, #f4-content{
    margin-top: 15%;
}
#f1-content h2, #f2-content h2, #f3-content h2, #f4-content h2{
font-size: 2.5rem;}
span{
    display:none;
}